@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    border: 1px solid red;
    position: absolute;
    top: 10%;
    width: 100%;
}

h1,
h4{
    text-align: center;
}
.form {
    border: 1px solid navy;
    width: 100%;
    max-width: 500px;
    margin: auto;
    /* text-align: center; */
}
p{

}
label{
    
}
.form input{

}